.intro {
  padding-top: 6rem;
  padding-bottom: 8.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.imageContainer {
  margin-bottom: 6rem;
}

.heading {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.text {
  line-height: 1.5;
}

.listItem {
    padding: 1.5rem 0;
    border-bottom: 1px solid #d5dceb;
    display: flex;
}

.listItem:last-child {
    border-bottom: none;
}

.listItemText {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    color: #1c1c1c;
    display: inline;
}

.listItemNumber {
    font-size: 1.4rem;
    color: #323232;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
}

.note {
  margin-top: 2.4rem;
}