.menu {
    width: 100vw;
    height: 100vh;
    padding: 2.4rem 1.2rem;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #212121;
    background-image: url('../../assets/pattern-mobil-menu.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

.closeContainer {
    text-align: right;
    margin-bottom: 8.7rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    margin-bottom: 5.2rem;
}

.listItem {
    text-transform: uppercase;
    color: #fafafa;
    font-size: 2rem;
    font-weight: 600;
}

@media screen and (min-width:1768px) {
    .menu {
        width: 100vw;
        height: auto;
        padding: 2.4rem 1.2rem;
        position: relative;
        top: 0;
        z-index: 99;
        background: none;
    }
}