:root {
  --bodyBackground: #fff;
  --headingsColor: #1c1c1c;
  --textColor: #323232;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Azeret Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bodyBackground);
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-weight: 600;
  color: var(--headingsColor);
}

p {
  font-weight: 400;
  color: var(--textColor);
}

li {
  list-style: none;
}

.container {
  max-width: 144rem;
}

.sitePadding {
  padding: 0 1.2rem;
}