:root {
  --bodyBackground: #fff;
  --headingsColor: #1c1c1c;
  --textColor: #323232;
  --limeGreen: #cdea50;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Azeret Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bodyBackground);
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 600;
  color: var(--headingsColor);
}

p {
  font-weight: 400;
  color: var(--textColor);
  font-size: 1.4rem;
}

li {
  list-style: none;
}

.container {
  max-width: 144rem;
  margin: auto;
  position: relative;
}

.sitePadding {
  padding: 0 1.2rem;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siteMainNav__fix {
  background-color:#212121;
}

.isActive {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: slideTop;
}

@keyframes slideTop {
  from {
    position: absolute;
    opacity: 0;
    transform: translateY(6rem);
  }

  to {
    position: relative;
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (min-width:768px) {
  .sitePadding {
    padding: 0 7.2rem;
  }
}